.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 258%;
    max-height: 396px;
    max-width: 310px;
    min-width: 100px;
    min-height: 395px;
    background-color: white;
    z-index: 1;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    overflow: auto;
    position: relative;
}

.product > img{
    max-height: 85%;
    max-width: 85%;
    width: 120%;
    height: 20%;
    object-fit: contain;
    margin-bottom: 5px;
}



.product_info{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 135%;
}

.product .title {
    margin-bottom: 10%; /* Ajusta el margen según sea necesario */
    position: static;
}

